.sd-wrapper {
    width: 100%;
    position: relative;
    padding: 0 4rem;
    background-color: var(--color-text);
  }
  
  .sd-slider-wrapper {
    padding: 4rem 2rem;
    background: var(--color-text);
  }
  
  .sd-slider-wrapper h1 {
    line-height: 100%;
    text-transform: uppercase;
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: 4rem;
    color: var(--color-bg);
    margin: 1rem 0 3rem 0;
  }
  
  .sd-wrapper .sd-arrow {
    top: 50%;
    padding: 1rem;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    color: var(--color-bg);
    cursor: pointer;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  
  .sd-wrapper .sd-arrow:active {
    transform: translateY(-50%) scale(0.85);
  }
  
  .sd-wrapper .sd-arrow-left {
    left: 1rem;
  }
  
  .sd-wrapper .sd-arrow-right {
    right: 1rem;
  }
  
  .sd-wrapper .sd-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  .sd-carousel::-webkit-scrollbar {
    display: none;
  }
  
  .sd-carousel.sd-no-transition {
    scroll-behavior: auto;
  }
  
  .sd-carousel.sd-dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  
  .sd-carousel.sd-dragging .sd-card {
    cursor: grab;
    user-select: none;
  }
  
  .sd-carousel :where(.sd-card, .sd-img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sd-carousel .sd-card {
    scroll-snap-align: start;
    height: 600px;
    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
  }
  
  .sd-carousel .sd-card .sd-img {
    height: 500px;
    width: 100%;
  }
  
  .sd-card .sd-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .sd-carousel .sd-card h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1.5rem 0 0.5rem 0;
    color: var(--color-bg);
  }
  
  .sd-carousel .sd-card span {
    color: var(--color-bg);
    font-style: italic;
    font-size: 1.25rem;
  }
  
  @media screen and (max-width: 900px) {
    .sd-wrapper .sd-carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .sd-wrapper .sd-carousel {
      grid-auto-columns: 100%;
    }
  }
  
  .sd-about {
    background-color: #000;
  }